@media (max-width: 420px) {
  /* Utility */
  .container-card {
    display: grid;
    grid-template-columns: 1fr;
  }


  /* Nav */
  #main-nav {
    height: 86px;
  }

  #main-nav {
    background-color: rgb(255,255,255,0.1);
  }

  .fa-facebook {
    padding: 1.4rem 0;
  }

  /* Home Page */
  #hero .container p {
    width: 340px;
  }

  #main-content h1 {
    font-size: 2.3rem;
  }

  #main-content .container p {
    width: 340px;
    text-align: justify;
    padding-bottom: 3rem;
  }

  #teacher-development .container-description {
    margin: .5rem;
    padding-top: 3rem;
    background-color: rgb(208, 217, 196);
    border-radius: 5%;
  }
  #scholarships .container-description {
    margin: .5rem;
    padding-top: 3rem;
    background-color: rgb(208, 217, 196);
    border-radius: 5%;
  }
  #trophy-festival .container-description {
    margin: .5rem;
    padding-top: 3rem;
    background-color: rgb(208, 217, 196);
    border-radius: 5%;
  }

  #teacher-development img {
    display: none;
  }

  #scholarships img {
    display: none;
  }

  #trophy-festival img {
    display: none;
  }


  /* Footer */
  #footer .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
    
  #footer .container h4 {
    margin: 3rem 0 1rem 0;
  }
    
  #footer .container li {
    padding: .1rem;
  }
    
  #footer .container h4 a {
    font-size: 1.2rem;
  }
    
  #footer .container .about-list, .offerings-list, .donate-list, .membership-list {
    text-align: center;
  }

  /* About */

  #board-members .card-container .card .image-container img {
    margin: auto;
    box-shadow: 0 8px 20px var(--dark-color);
    max-height: 240px;
    width: auto;  
  }

  #board-members .card-container .card .info-container p {
    height: 200px;
    width: auto;
    padding: .6rem;  
    overflow: scroll; 
  }
  #board-members .card-container .card .image-container i {
    font-size: 1.6rem;
  }
  #board-members .card-container .card .image-container .fa-linkedin {
    display: none;
  }

  /* Donation */

  #donate-section #teacher-development {
    padding: 0;
  }
  #donate-section #scholarships {
    padding-bottom: 3rem;
  }

  #donate-section .donation-info {
    text-align: justify;
    width: 350px;
  }

  #donate-section #teacher-development .container .container-description {
    margin: .5rem 2rem;
  }

  /* Membership */

  #membership .card {
    width: 100%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
  }

  #membership hr {
    margin: 2rem auto;
  }

}

@media (min-width: 820px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 820px) {
    /* Navigation */
    .hamburger {
      display: block;
    }

    #main-nav ul a {
      display: none;
    }
  
    /*  Home Page  */

    #home-page .container-card {
        padding: 0 1rem;
      }

      #teacher-development .container-card {
        max-height: 250px;
      }
      #scholarships .container-card {
        max-height: 250px;
      }
      #trophy-festival .container-card {
        max-height: 250px;
      }

      #teacher-development img {
        width: auto;

      }
    
      #scholarships img {
        width: auto;  
      }
    
      #trophy-festival img {
        width: auto; 
      }

      /* Footer Modile */
      #footer .container {
        width: 100vw;
      }

    /* About Modile  */
      #board-members .card-container {
        width: 92vw;

      }

      #board-members .card-container .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
      }

      #board-members .card-container .card .info-container h3, h4 {
        text-align: center;
      }

      #board-members .card-container .card-reverse {
        grid-template-areas: 
        "2"
        "1";
      }

    /* Flip reverse cards */
      #board-members .card-container .card-reverse > div:last-child{grid-area: 1;}

      #code-of-ethics .container p {
        width: 92vw;
        margin-bottom: 3rem;
      }

    /* Offerings Section */

    #teacher-development-announcement .container {
        text-align: center;
        width: 92vw;
      }

    #scholarships-announcement .container {
        width: 92vw;

      }

      #trophy-festival-announcement .container {
        width: 92vw;
      }

      /* Membership Section */
      #membership {
        width: 92vw;
      }

      #membership .card {
        width: 100%;
      }

      /* Profile Mobile */
      #profile-page {
        height: 80vh;
      }


    }